*{
    -navy: #002d59;
    -light-navy: #95b4d7;
    -yellow: #f0ab0b;
    -light-yellow: #fde89b;
    -text-yellow: #ffa600;
    -gray: #d2d2d2;
    -background-gray: #efefef;
    -alert: #c00b0b;
}
