.table-view{
    -fx-background-color: white;
}

.table-view:focused{
    -fx-background-color: white;
}

.table-view .column-header-background .label{
    -fx-background-color: #f1f1f1;
}

.table-view .column-header{
    -fx-background-color: #f1f1f1;
}

.table-view .column-header-background .filler{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #f1f1f1;
}

.table-row-cell:selected {
    -fx-background-color: #a1a1a1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}

