.tab-pane{
    -fx-tab-max-width: 300;
    -fx-tab-max-height: 100;
}
#normalTabPane{

}

.tab{
    -fx-background-color: white;
    -fx-min-width: 200;
    -fx-min-height: 100;
    -fx-font-size: 25;
}
#normalTab:hover
{
    -fx-background-color: gray;
}